

  <div class="text-center topnav" >Expenses</div>
  <div class="container-fluid ">
    <div class="row" style="position: fixed;height: 100%;width: 100%">
        <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2 sidenav" >
             
                <div><a routerLink="/home">Home</a></div>
                <div><a routerLink="/setting">Settings</a></div>
                <div><a>Profiles</a></div>  
                   
        </div>
        <div class="col-sm-10 col-xs-10 col-lg-10 col-md-10" style="margin-top: 10px">
            <router-outlet></router-outlet>
        </div>
    </div>
    
  </div>

  

  

